{% extends "index.html" %}

{% block content %}
<article class="post">
    <header>
        <h1>404: Page not found</h1>
    </header>
    <div class="content">
        The thing or page you're looking for cannot be found!
        Brb, sending a search party...
    </div>
    <pre>
                          _     _.-,
                          \`-..' _/
                          .'-''`   )
                         /`'.   _ -'._
                        /__.:-'       `--..--.
                            \      .  `  =  .:_    _.
                             \ .       `       `-.|  \
                          _.-'     '        '     |.'`',
                      _.-'    . '         '    .:'`    )
                   .-'    _='          .______/"'.  .'  `-.
                  /    _-'"     `    .'`     /  _:'``''--'`
                 :    (/_\'  `     .'        ""`
                 :    ' "       _.'
                  \  '       _.'
                  ::......-''
                 "
    </pre>
</article>
{% endblock content %}